[href]{
    c;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.title{
    /* Strategy */


width: 264px;
height: 24px;

/* Header 3 */

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */

letter-spacing: 0.02em;

/* NAVY BLUE */

color: #2E2F42;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.text{
    width: 264px;
height: 72px;

/* Body */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */

letter-spacing: 0.02em;

/* SLATE */

color: #434455;
}
